.experiencieContainer{
    margin: 4rem 0;
    position: relative;

}
.experiencieContent{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;

}
.arrowRight,
.arrowLeft{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6751b9;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    background: #130f2a;
    position: absolute;
    top: 55%;
    z-index: 2;
    cursor: pointer;

}
.arrowRight span,
.arrowLeft span{
    font-size: 2rem;
    font-weight: 500;
}
.arrowLef{
    left: -2rem;
}

.arrowRight{
    right: 0rem;
    
}