.contacContainer{
    margin: 4rem 0;
    position: relative;
}
.contacContainer h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.contacContent{
    display: flex;
    gap: 3rem;
}